player-connection-mode=Connect
player-connection-guid=835739675
player-connection-debug=0
player-connection-project-name=Crystal Monster Rancher
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.48
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
